
{% extends "base.html" %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Demo: Images</h1>
          <p>The images below represent the "before" and "after" views of the images we are modifying for our first exercise.</p>
        </div>
       </div>

       <div class="container">
         <!-- Example row of columns -->
         <div class="row">
           <div class="col-md-6">
             <h2>Before</h2>
             <img src="/static/raw/packers.jpg" class="img-responsive" >
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
             <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
           <div class="col-md-6">
             <h2>After</h2>
             <img src="/static/web/packers.jpg" class="img-responsive" >
             <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
             <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
           </div>
         </div>

         <hr>

         {% endblock %}
