
{% extends "templates/base.html" %}
{% block content %}

<style>
    html, body, #map-canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
    }
</style>

<div class="container">
    
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.2/tinycolor.min.js"></script>
    <script src="/static/underscore.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="js/vis.js"></script>
	
    <script>
    </script>
</div>

      <div class="jumbotron">
        <div class="container">
          <h1>Lab: Google Maps (w/ roadtrip data)</h1>
        </div>
       </div>

        <div id="map-canvas"></div>
       <div class="container" id="container">
       </div>

{% endblock %}
