
{% extends "templates/base.html" %}
{% block content %}

<div class="container">
    
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.2/tinycolor.min.js"></script>
    <script src="/static/underscore.js"></script>
    <script src="js/vis.js"></script>
	
    <script>
    </script>
</div>

      <div class="jumbotron">
        <div class="container">
          <h1>Demo: API Data (CUMTD)</h1>
        </div>
       </div>

       <div class="container" id="container">
       </div>

		<script>main();</script>
{% endblock %}
